.footer {
  margin-top: 3rem;
  padding: 10px 5px;
  border-top: 2px solid rgb(240, 240, 240);
  text-align: center;
  font-weight: 600;
  font-size: 1.75rem;
  font-family: 'Montserrat', sans-serif;
}